<legend
        class="variantTitle"
        th:for="${productId} + '-' + ${variant.id}"
>
    <th:block th:if="${!#strings.isEmpty(variant.name)}">
        Variant: <span th:text="${variant.name}"/> <br/>
    </th:block>
    Price: <span th:text="${variant.prices.deliveryEuro}"/>€<br/>
</legend>
<div class="variantContent">
    <ul>
        <li th:each="optionGroupId : ${variant.optionGroupIds}"
            th:with="optionGroup=${restaurant.menu.optionGroups.get(optionGroupId)}">
            <h2 th:text="${optionGroup.name}" />
            <fieldset class="optionsContainer">
                <div class="option"
                     th:each="optionId : ${optionGroup.optionIds}"
                     th:with="option=${restaurant.menu.options.get(optionId)}"
                >
                    <div
                            class="optionRadio"
                            th:if="${optionGroup.isMandatory()}"
                    >
                        <input
                                type="radio"
                                th:name="${productId} + '-' + ${variant.id} + '-' + ${optionGroupId} + '-' +  ${optionId}"
                                th:id="${productId} + '-' + ${variant.id} + '-' + ${optionGroupId} + '-' +  ${optionId}"
                        />
                    </div>
                    <div
                            class="optionCheckbox"
                            th:if="${!optionGroup.isMandatory()}"
                    >
                        <input
                                type="checkbox"
                                th:name="${productId} + '-' + ${variant.id} + '-' + ${optionGroupId} + '-' +  ${optionId}"
                                th:id="${productId} + '-' + ${variant.id} + '-' + ${optionGroupId} + '-' +  ${optionId}"
                        />
                    </div>
                    <div class="optionName">
                        <label
                                th:for="${productId} + '-' + ${variant.id} + '-' + ${optionGroupId} + '-' +  ${optionId}"
                                th:text="${restaurant.menu.options.get(optionId).name}"/>
                    </div>
                    <div class="optionPrice">
                        <label
                                th:for="${productId} + '-' + ${variant.id} + '-' + ${optionGroupId} + '-' +  ${optionId}"
                                th:text="'+'+${option.prices.deliveryEuro}+'€'"/>
                    </div>
                </div>
            </fieldset>
        </li>
    </ul>
</div>
