<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .optionsContainer {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
        }

        .option {
        }

        .optionRadio, .optionCheckbox, .optionName, .optionPrice {
            display: inline;
        }

        .optionPrice {
            float: right;
            margin-left: 1em;
        }

        .variantSelect ~ .variantContent {
            display: none;
        }

        .variantSelect:checked ~ .variantContent {
            display: block;
        }

    </style>
</head>
<body>
<form>
    <ol>
        <li th:each="category : ${restaurant.menu.categories}">
            <h1 th:text="${category.name}"/>
            <details th:text="${category.description}"/>
            <ol>
                <li th:each="productId : ${category.getProductIds()}" th:with="product=${restaurant.menu.products.get(productId)}">
                    Product: <span th:text="${product.name}"/> (<span th:text="${productId}"/>) <br>
                    ProductInfo:
                    <ul>
                        <li th:if="${product.productInfo.additives}">Additives: <span
                                th:text="${product.productInfo.additives}"/></li>
                        <li th:if="${product.productInfo.allergens}">Allergens: <span
                                th:text="${product.productInfo.allergens}"/></li>
                        <li th:if="${product.productInfo.alcoholVolume}">AlcoholVolume: <span
                                th:text="${product.productInfo.alcoholVolume}"/></li>
                        <li th:if="${product.productInfo.caffeineAmount}">CaffeineAmount: <span
                                th:text="${product.productInfo.caffeineAmount}"/></li>
                        <li th:if="${product.productInfo.isFoodInformationVerifiedByRestaurant}">Verified: <span
                                th:text="${product.productInfo.isFoodInformationVerifiedByRestaurant}"/></li>
                        <li th:if="${product.productInfo.nutritionalTextManual}">Manual: <span
                                th:text="${product.productInfo.nutritionalTextManual}"/></li>
                    </ul>
                    Variants:
                    <ul class="variantContainer">
                        <li
                                class="variant"
                                th:each="variant : ${product.variants}"
                        >
                            <input
                                    class="variantSelect"
                                    type="radio"
                                    th:name="${productId}"
                                    th:id="${productId} + '-' + ${variant.id}"
                            >
                            <legend
                                    class="variantTitle"
                                    th:for="${productId} + '-' + ${variant.id}"
                            >
                                Variant: <span th:text="${variant.name}"/> Price: <span
                                    th:text="${variant.prices.deliveryEuro}"/>€<br>
                            </legend>
                            <div class="variantContent">
                                OptionGroups:
                                <ul>
                                    <li th:each="optionGroupId : ${variant.optionGroupIds}" th:with="optionGroup=${restaurant.menu.optionGroups.get(optionGroupId)}">
                                        OptionGroup: <span th:text="${optionGroup.name}"/>
                                        [<span th:text="${optionGroup.minChoices}"/> - <span
                                            th:text="${optionGroup.maxChoices}"/>] <br>
                                        Options:
                                        <fieldset class="optionsContainer">
                                            <div class="option"
                                                 th:each="optionId : ${optionGroup.optionIds}"
                                                 th:with="option=${restaurant.menu.options.get(optionId)}"
                                            >
                                                <div
                                                        class="optionRadio"
                                                        th:if="${optionGroup.isMandatory()}"
                                                >
                                                    <input
                                                            type="radio"
                                                            th:name="${productId} + '-' + ${variant.id} + '-' + ${optionGroupId}"
                                                            th:id="${productId} + '-' + ${variant.id} + '-' + ${optionGroupId} + '-' +  ${optionId}"
                                                    />
                                                </div>
                                                <div
                                                        class="optionCheckbox"
                                                        th:if="${!optionGroup.isMandatory()}"
                                                >
                                                    <input
                                                            type="checkbox"
                                                            th:name="${productId} + '-' + ${variant.id} + '-' + ${optionGroupId} + '-' +  ${optionId}"
                                                            th:id="${productId} + '-' + ${variant.id} + '-' + ${optionGroupId} + '-' +  ${optionId}"
                                                    />
                                                </div>
                                                <div class="optionName">
                                                    <label
                                                            th:for="${productId} + '-' + ${variant.id} + '-' + ${optionGroupId} + '-' +  ${optionId}"
                                                            th:text="${restaurant.menu.options.get(optionId).name}"/>
                                                </div>
                                                <div class="optionPrice">
                                                    <label
                                                            th:for="${productId} + '-' + ${variant.id} + '-' + ${optionGroupId} + '-' +  ${optionId}"
                                                            th:text="'+'+${option.prices.deliveryEuro}+'€'"/>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
            </ol>
        </li>
    </ol>
</form>
</body>
</html>