<table class="orderTable">
    <tr>
        <th>Product</th>
        <th>Größe</th>
        <th>Preis (€)</th>
        <th>Nick</th>
        <th>Beschriftung</th>
        <th>Aktionen</th>
    </tr>
    <th:block th:each="cart : ${selectedCarts}">
        <tr th:each="cartEntry : ${cart.entries}">
            <td class="grow" th:utext="${cartEntry.getOptionListHtml(restaurant.menu)}"></td>
            <td th:text="${restaurant.menu.getVariant(cartEntry.product, cartEntry.variant).name}"></td>
            <td th:text="${cartEntry.getPrice(restaurant.menu)}"></td>
            <td th:text="${cart.name}"></td>
            <td th:text="${cart.shortName}"></td>
            <td th:with="selectedCart = ${cart}">
                <th:block th:insert="toggleCartPaid"></th:block>
            </td>
        </tr>
    </th:block>
</table>
