:root {

    --maincolor: #ECECEC;
    --shades: #90CCF4;
    --borders: #5DA2D5;
    --accent: #F3D250;
    --textcolor: #000000;

    --success: #6a994e;
    --failure: #d90429;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    color: var(--textcolor);
    background-color: var(--maincolor);
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/MaterialIcons-Regular.woff2) format('woff2'),
    url(/MaterialIcons-Regular.woff) format('woff'),
    url(/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/**
Layout
 */

aside {
    position: sticky;
    left: 0;
    width: 180px;
    top: 0;
    background-color: var(--maincolor);
}

main {
    top: 50px;
    background-color: var(--maincolor);
}

.menu {
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
}

.container {
    max-width: 1200px;
    width: 100%;
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.row {
    display: flex;
    flex-wrap: wrap;
}

main {
    position: absolute;
    left: 200px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
}

main ol:first-child {
    margin-top: -10px;
}

.row .customize {
    width: 100%;
}

/**
Rest
 */

.target, :target {
}

aside h1, main h2 {
    margin-bottom: 0;
    padding: 0 5px;
}

aside li {
    margin: 10px 0;
}

aside h1.target {
    border-radius: 5px;
    background: var(--shades);
}
aside h1 a {
    border-radius: 5px;
    color: var(--textcolor);
}

ol {
    list-style: none;
}

aside .categoryDescription {
    font-size: small;
    color: var(--textcolor);
}

main .product > ol {
    list-style: initial;
}

.category, .product {
    border-top: 2px solid var(--borders);
}

.category {
    border-top: none;
    margin-top: 15px;
}

.category:last-child, .product:last-child {
    border-bottom: 2px solid var(--borders);
}

li.product {
    min-height: 50px;
    display: flex;
    padding: 10px;
}

.productMain {
    flex-grow: 1;
    min-height: 70px;
}

.productMain h2 {
    font-size: 18px;
}

.productMain li {
    color: #333;
    font-size: 12px;
}

.productPrice {
    align-self: center;
    min-width: 5em;
    text-align: center;
}

.productSelect {
    align-self: center;
}

.productSelect a {
    padding: 20px;
    border: 2px solid var(--borders);
    text-decoration: none;
}

.orderTable {
    width: 100%;
    border-collapse: collapse;
}

.orderTable thead {
    border-bottom: 2px solid var(--borders);
}

.orderTable td {
    width: 1%;
    white-space: nowrap;
    min-width: 100px;
}

.orderTable td.grow {
    width: 50%;
    padding-left: 5px;
}

.orderTable .cartBegin {
    border-top: 2px solid var(--borders);
}

.optionsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
}

.optionsContainerInner {
    width: 100%;
}

.option {
    line-height: 30px;
    padding: 0 5px;
}

.optionRadio, .optionCheckbox, .optionName, .optionPrice {
    display: inline;
}

.optionName,.optionPrice {
    margin-left: 0.3em;
}

.variantSelect ~ .variantContent {
    display: none;
}

.variantSelect:checked ~ .variantContent {
    display: block;
}

.variantContent ul {
    list-style: none;
}

.menu {
    background: var(--shades);
    line-height: 60px;
}

.menu a {
    color: var(--textcolor);
    padding: 20px;
}

button.pixmapButton {
    line-height: 40px;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 7px;
    border: 2px solid var(--borders);
    background-color: var(--maincolor);
    color: var(--textcolor);
}

button.pixmapButton:hover {
    border: 2px solid var(--borders);
    background-color: var(--shades);
}

button.pixmapButton.grow {
    width: 100%;
}

button.pixmapButton.primary {
    background-color: var(--shades);
    color: var(--textcolor);
}
button.pixmapButton.primary:hover {
    background-color: var(--borders);
    border-color: var(--shades);
    color: var(--textcolor);
}

button.pixmapButton.primary:disabled {
    background-color: var(--shades);
    color: var(--textcolor);
    opacity: 60%;
}

button.pixmapButton span {
    line-height: 40px;
    vertical-align: middle;
}

button.pixmapButton span:first-child {
    padding-right: 2px;
}

.pixmapGroup button.pixmapButton {
    margin: 0 3px;
}

.pixmapGroup button.pixmapButton:first-child {
    margin: 0 3px 0 0;
}

.pixmapGroup button.pixmapButton:last-child {
    margin: 0 0 0 3px;
}

.textCenter {
    text-align: center;
}

.unpayed {
    color: var(--failure);
}

.payed {
    color: var(--success);
}

.box.unpayed {
    background-color: var(--failure);
}

.box.payed {
    background-color: var(--success);
}

.progress {
    background: var(--shades);
    position: relative;
    height: 30px;
    padding: 5px;
}

.progress .progressBackground {
    background: var(--success);
    height: 30px;
    text-align: center;
    border-radius: 5px;
}

.progress .progressText {
    color: var(--maincolor);
    display: inline-block;
    position: absolute;
    width: 100%;
    left: 0;
    text-shadow: white 0px 0px 1px;
    line-height: 30px;
}

.myOrder {
    background-color: var(--shades);
    border: 2px solid var(--borders);
    padding: 10px;
    border-radius: 10px;
}

.orderTable td.box {
    max-width: 1em;
    width: 1em;
    min-width: 1em;
}

.orderTable td button {
    margin-bottom: 2px;
    margin-top: 2px;
}

.customizeButtons{
    display: flex;
}

.customize fieldset {
    border: 2px solid var(--borders);
    background-color: var(--shades);
    margin: 5px 0;
    border-radius: 10px;
    padding: 5px;
}