* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    color: black;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/MaterialIcons-Regular.woff2) format('woff2'),
    url(/MaterialIcons-Regular.woff) format('woff'),
    url(/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

aside {
    position: absolute;
    left: 0;
    width: 200px;
}

aside h1, main h2 {
    margin-bottom: 0;
}

aside li {
    margin: 10px 0;
}

ol {
    list-style: none;
}

aside .categoryDescription {
    font-size: small;
    color: gray;
}

main {
    position: absolute;
    left: 200px;
    max-width: 800px;
    /*right: 200px;*/
}

main .product > ol {
    list-style: initial;
}

.category, .product {
    border-top: 1px solid gray;

    /*margin-top: 15px;*/
}

.category {
    border-top: none;
    margin-top: 15px;
}

.category:last-child, .product:last-child {
    border-bottom: 1px solid gray;
}

li.product {
    min-height: 50px;
    display: flex;
    padding: 10px;
}

.productMain {
    flex-grow: 1;
    min-height: 70px;
}

.productMain h2 {
    font-size: 18px;
}

.productMain li {
    color: #333;
    font-size: 12px;
}

.productPrice {
    align-self: center;
    min-width: 5em;
    text-align: center;
}

.productSelect {
    align-self: center;
}

.productSelect a {
    padding: 20px;
    border: 1px solid blue;
    text-decoration: none;
}

.orderTable {
    width: 100%;
    border-collapse: collapse;
}

.orderTable thead {
    border-bottom: 1px solid black;
}

.orderTable td {
    width: 1%;
    white-space: nowrap;
    min-width: 100px;
}

.orderTable td.grow {
    width: 50%;
}

.orderTable .cartBegin {
    border-top: 1px solid black;
}


.optionsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
}

.optionsContainerInner {
    width: 100%;
}

.option {
    line-height: 30px;
    padding: 0 5px;
}

.optionRadio, .optionCheckbox, .optionName, .optionPrice {
    display: inline;
}

.optionPrice {
    float: right;
    margin-left: 1em;
}

.variantSelect ~ .variantContent {
    display: none;
}

.variantSelect:checked ~ .variantContent {
    display: block;
}

.variantContent ul {
    list-style: none;
}

.menu {
    background: lightcyan;
    line-height: 60px;
}

.menu a {
    color: gray;
    padding: 20px;
}

button.pixmapButton {
    line-height: 40px;
    padding: 5px 10px;
}

button.pixmapButton.grow {
    width: 100%;
}

button.pixmapButton span {
    line-height: 40px;
    vertical-align: middle;
}

button.pixmapButton span:first-child {
    padding-right: 2px;
}

.pixmapGroup button.pixmapButton {
    margin: 0 3px;
}

.pixmapGroup button.pixmapButton:first-child {
    margin: 0 3px 0 0;
}

.pixmapGroup button.pixmapButton:last-child {
    margin: 0 0 0 3px;
}

.textRight {
    text-align: right;
}

.unpayed {
    color: red;
}

.payed {
    color: darkgreen;
}

.progress {
    background: gray;
    position: relative;
    height: 30px;
    padding: 5px;
}

.progress .progressBackground {
    background: lightgreen;
    height: 30px;
    text-align: center;
    border-radius: 5px;
}

.progress .progressText {
    display: inline-block;
    position: absolute;
    width: 100%;
    left: 0;
    text-shadow: white 0px 0px 1px;
    line-height: 30px;
}