:root {
    --success: #6a994e;
    --failure: #d90429;
    --accent: #F3D250;

    --backgroundColor: #EBE9E3;

    --menuNormal: #403329;
    --menuHover: #4A3D34;

    --buttonNormal: #cccac5;
    --buttonHighlight: #CCBD8F;
    --buttonBorder: #6E5E52;

    --buttonPrimaryNormal: #2697de;
    --buttonPrimaryHighlight: #48aeef;
    --buttonPrimaryBorder: #6E5E52;

    --textNormal: #000000;
    --textHighlightNormal: #2697de;
    --textHighlightHover: #48aeef;
    --textMenu: #ffffff;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../public/material/MaterialIcons-Regular.woff) format('woff'),
    url(../public/material/MaterialIcons-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'),
    url(../public/lato/Lato-Regular.woff) format('woff'),
    url(../public/lato/Lato-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato Bold';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Bold'),
    url(../public/lato/Lato-Bold.woff) format('woff'),
    url(../public/lato/Lato-Bold.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Lato, sans-serif;
}

body {
    color: var(--textNormal);
    background-color: var(--backgroundColor);
}

h1, th {
    font-family: 'Lato Bold', Lato, sans-serif;
}

h1 {
    padding: 10px 0;
    word-wrap: anywhere;
}


.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.variableSpacer {
    margin-left: auto;
}

/**
Layout
 */

aside {
    position: sticky;
    left: 0;
    width: 180px;
    top: 0;
}

main {
    top: 50px;
}

.menu {
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-items: left;
    border-bottom: 2px solid var(--menuHover);
}

.container {
    max-width: 1200px;
    width: 1200px;
    /*width: 100%;*/
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.row {
    display: flex;
    flex-wrap: wrap;
}

main {
    position: absolute;
    left: 200px;
    top: 0;
    bottom: 0;
    right: 0;
}

main.withSide {
    overflow-y: auto;
}

main.notSide {
    left: 0;
}

main ol:first-child {
    margin-top: -10px;
}

.row .customize {
    width: 100%;
}

/**
Rest
 */

.target, :target {
}

aside h1, main h2 {
    margin-bottom: 0;
    padding: 5px 5px;
}

aside li {
    margin: 5px 0;
}

aside h1.target, aside h1:hover {
    border-radius: 5px;
    background: var(--buttonHighlight);
}

aside h1 a {
    border-radius: 5px;
    color: var(--textNormal);
}

ol {
    list-style: none;
}

aside .categoryDescription {
    font-size: small;
    color: var(--textNormal);
}

main .product > ol {
    list-style: initial;
}

.privacy ul {
    list-style: decimal;
}

.privacy ul {
    margin-left: 20px;
}

.category, .product {
    border-top: 2px solid var(--buttonBorder);
}

.category {
    border-top: none;
    margin-top: 15px;
}

.category:last-child, .product:last-child {
    border-bottom: 2px solid var(--buttonBorder);
}

li.product {
    min-height: 50px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 60px 5em;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "productMain productSelect productPrice"
    "productMain productSelect productPrice";
}

.productMain {
    min-height: 70px;
    grid-area: productMain;
}

.productMain h2 {
    font-size: 18px;
}

.productMain li {
    color: #333;
    font-size: 12px;
}

.productPrice {
    align-self: center;
    min-width: 5em;
    text-align: center;
    grid-area: productPrice;
}

.productSelect {
    align-self: center;
    grid-area: productSelect;
}

.productSelect a {
    padding: 20px;
    border: 2px solid var(--buttonBorder);
    text-decoration: none;
}

.orderTable {
    width: 100%;
    border-collapse: collapse;
}

.orderTable thead {
    border-bottom: 2px solid var(--buttonBorder);
}

.orderTable td {
    width: 1%;
    white-space: nowrap;
    min-width: 100px;
    vertical-align: top;
}

.orderTable td.grow {
    width: 50%;
    padding-left: 5px;
}

.orderTable .cartOwner {
    border-top: 2px solid var(--buttonBorder);
    background-color: var(--menuHover);
    color: var(--textMenu);
    height: 30px;
    font-family: 'Lato Bold', Lato, sans-serif;
}

.orderTable .cartOwner td {
    vertical-align: middle;
}

.orderTable .cartBegin {
    /*border-top: 1px solid var(--buttonBorder);*/
}

.optionsContainer, .customizeButtons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
}

.optionsContainerInner {
    width: 100%;
}

.option {
    line-height: 30px;
    padding: 0 5px;
}

.optionRadio, .optionCheckbox, .optionName, .optionPrice {
    display: inline;
}

.optionName, .optionPrice {
    margin-left: 0.3em;
}

.variantSelect ~ .variantContent {
    display: none;
}

.variantSelect:checked ~ .variantContent {
    display: block;
}

.variantContent ul {
    list-style: none;
}

.menu {
    background: var(--menuNormal);
    line-height: 60px;
    height: 60px;
}

.menu a {
    color: var(--textMenu);
    padding: 0px 20px;
}

.menu a:hover {
    background-color: var(--menuHover);
    border-color: var(--menuNormal);
}

.menu a.borderRight {
    border-right: 2px solid var(--menuHover);
}

.menu a.borderLeft {
    border-left: 2px solid var(--menuHover);
}

button.pixmapButton {
    line-height: 40px;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 7px;
    border: 2px solid var(--buttonBorder);
    background-color: var(--buttonNormal);
    color: var(--textNormal);
}

button.pixmapButton:hover {
    border: 2px solid var(--buttonNormal);
    background-color: var(--buttonHighlight);
    color: var(--textNormal);
}

button.pixmapButton:disabled {
    opacity: 60%;
}

button.pixmapButton.grow {
    width: 100%;
}

button.pixmapButton.tiny {
    line-height: 20px;
    padding: 3px;
    margin: 0;
}

button.pixmapButton.tiny span {
    line-height: 20px;
}

button.pixmapButton.primary {
    background-color: var(--buttonPrimaryNormal);
    color: var(--textNormal);
}

button.pixmapButton.primary:hover {
    background-color: var(--buttonPrimaryHighlight);
    border-color: var(--buttonBorder);
    color: var(--textNormal);
}

button.pixmapButton span {
    line-height: 40px;
    vertical-align: middle;
}

button.pixmapButton span:first-child {
    padding-right: 2px;
}

.pixmapGroup {
    display: flex;
    flex-wrap: wrap;
}

.pixmapGroup button.pixmapButton {
    margin: 0 3px;
}

.pixmapGroup button.pixmapButton:first-child {
    margin: 0 3px 0 0;
}

.pixmapGroup button.pixmapButton:last-child {
    margin: 0 0 0 3px;
}

.pixmapButton.right {
    margin-left: auto !important;
}

.pixmapIcon {
    vertical-align: middle;
}

.textCenter {
    text-align: center;
}

.unpayed {
    color: var(--failure);
}

.payed {
    color: var(--success);
    text-shadow: var(--accent) 0px 0px 1px;
}

.box.unpayed {
    background-color: var(--failure);
    text-shadow: var(--accent) 0px 0px 1px;
}

.box.payed {
    background-color: var(--success);
    text-shadow: var(--accent) 0px 0px 1px;
}

.progress {
    background: var(--buttonPrimaryHighlight);
    position: relative;
    height: 30px;
    padding: 5px;
}

.progress .progressBackground {
    background: var(--success);
    height: 30px;
    text-align: center;
    border-radius: 5px;
}

.progress .progressText {
    color: var(--textNormal);
    display: inline-block;
    position: absolute;
    width: 100%;
    left: 0;
    text-shadow: var(--accent) 0px 0px 1px;
    line-height: 30px;
}

.myOrder {
    border: 2px solid var(--buttonBorder);
    padding: 10px;
    border-radius: 10px;
}

.myOrder > p {
    margin-bottom: 20px;
}

.myOrder ol {
    list-style: unset;
    padding-left: 10px;
}

.orderTable {
    vertical-align: top;
}

.orderTable td.box {
    max-width: 1em;
    min-width: 1em;
}

.orderTable td button {
    margin-bottom: 2px;
    margin-top: 2px;
}

.customizeButtons button {
    min-width: 200px;
}

.customize fieldset {
    border: 2px solid var(--buttonBorder);
    margin: 5px 0;
    border-radius: 10px;
    padding: 5px;
}

.total {
    font-size: 1.2em;
    line-height: 2em;
}

.error {
    text-align: right;
}

.error span {
    display: inline-block;
    padding: 5px;
    margin: 5px 0;
    border-radius: 10px;
    color: var(--failure);
    border: 2px solid var(--failure);
}

input[type=text] {
    padding: 5px 10px;
    margin-bottom: 10px;
}

tr.cartOwner td {
    font-weight: bold;
}

.nameStoreHint {
    font-size: 0.8em;
    color: #555555
}

@media (max-width: 1200px) {
    h1, h2, h3 {
        padding: 0px;
    }
    .container {
        position: sticky;
        left: 0;
        right: 0;
        transform: none;
        max-width: none;
        width: 100%;
        margin-top: 60px;
    }

    main.notSide {
        margin-top: 60px;
    }

    main:not(.withSide) {
        position: sticky;
        left: 0;
        right: 0;
        overflow-y: initial;
        padding: 5px;
    }

    aside {
        position: sticky;
        left: 0;
        top: 0;
        bottom: 0;
        overflow-y: auto;
        flex: 1 0 auto;
        max-width: 100px;
        font-size: 12px;
    }

    .customizeButtons button.pixmapButton {
        line-height: 20px;
    }

    .customizeButtons button.pixmapButton span {
        line-height: 20px;
    }

    .customizeButtons {
        grid-template-columns: repeat(2, 1fr);
    }

    .orderTable td {
        min-width: inherit;
        word-wrap: normal;
        word-break: normal;
        white-space: break-spaces;
    }
    .orderTable td:not(:first-child) {
        padding:0 10px;
    }

    .menu {
        line-height: 20px;
    }

    .menu a {
        padding: 10px;
    }

    button.pixmapButton.tiny {
        overflow-wrap: break-word;
        white-space: break-spaces;
    }

    main {
        position: initial;
        left: initial;
        top: initial;
        right: initial;
        flex: 0 1 auto;
        max-width: initial;
    }
    .row {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
    }

    textarea {
        max-width: 600px;
    }

    .pixmapGroup {
        flex-direction: column;
    }

    .productMain {
        word-break: break-word;
    }

    .productPrice {
        min-width: 3em;
    }

    .productSelect .pixmapButton {
        /*line-height: 20px;*/
        /*padding: 3px;*/
        /*margin: 0;*/
        width: 100%
    }

    li.product {
        grid-template-columns: 1fr 5em;
        grid-template-rows: 1fr 1fr;
        padding: 5px;
        grid-template-areas:
    "productMain productSelect"
    "productMain productPrice";
    }
}